@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model everest.Areas.Identity.Pages.Account.MyProfile.CustomerManagerModel
@{
    ViewData["Title"] = "Customer manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ 
    <link rel="stylesheet" href="@Url.Content("~/css/Account/MyPage/AdminManager/customer-manager.css")" />
}

<div class="black-background d-none"></div>


<div class="customer-manager-tamplet position-relative mb-3">

    @*Back page link*@
    <a class="back-link" asp-area="Identity" asp-page="/Account/MyProfile/Index" title="الصفحة الشخصية"><i class="bi bi-arrow-left"></i></a>


    <h1 class="text-center text-info p-5">إدارة المستخدمين</h1>

    @*Confirm convert user to client*@

    <div class="confirm-form">
        <form>
            <label for="classification" class="text-center d-block m-3">تصنيف المتجر</label>
            <input type="text"
                   list="classification"
                   class="form-control text-end" />
            <datalist id="classification">
                @foreach (var classification in Model.ClassificationList)
                {
                    <option value="@classification">@classification</option>
                }
            </datalist>
            <button type="submit" class="btn btn-primary mt-3">إضافة</button>
        </form>
        <div class="classification-group text-center mt-3">
        </div>
        <p class="text-center" style="direction: rtl">
            سيتم تغيير صلاحيات المستخدم إلى
            <strong>مدير متجر</strong> هل أنت متأكد من العملية..؟
        </p>
        <div class="confirm-btns-group d-flex justify-content-around">
            <button class="btn btn-danger">إلغاء</button>
            <button class="btn btn-success">تأكيد</button>
        </div>
    </div>


    <input type="search" class="search-input form-control text-center" placeholder="بحث عن مستخدم" />
    @*Users table*@
    <div class="d-flex justify-content-center">
        <div class="table-container">

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">صفة المستخدم</th>
                        <th scope="col">اسم المستخدم</th>
                        <th scope="col">تارخ التسجيل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.CustomerManagerDtos)
                    {
                        <tr class="user-row">
                            <td>
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@user.RoleName</button>
                                    <ul class="dropdown-menu">
                                        @foreach (var role in Model.RolesList)
                                        {
                                            @if (role.DisplayedName == user.RoleName)
                                            {
                                                <li><button class="dropdown-item" disabled>@role.DisplayedName</button></li>
                                            }
                                            else
                                            {
                                                <li><button class="dropdown-item btn-role" data-userid="@user.UserId" data-role="@role.Name">@role.DisplayedName</button></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td class="user-name">
                                @user.UserName
                            </td>
                            <td>
                                @user.Created
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



    @section Scripts {
        <script src="@Url.Content("~/js/Account/MyPage/AdminManager/customer-manager.js")"></script>
    }
