@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model everest.Areas.Identity.Pages.Account.MyProfile.StoreManager.StoreInfoModel
@{
    ViewData["Title"] = "Store info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{ 
    <link rel="stylesheet" href="@Url.Content("~/css/Account/MyPage/StoreManager/store-info.css")" />
}


<div class="store-info-tamblet position-relative">

    @*Back page link*@
    <a class="back-link" asp-area="Identity" asp-page="/Account/MyProfile/StoreManager/Index" title="إدارة المخزن"><i class="bi bi-arrow-left"></i></a>


    <h1 class="text-center text-info p-3">معلومات المخزن</h1>

    <form class="container-fluid">
        <div class="row form-group d-flex justify-content-center m-3">

            @if (Model.Input.StorePhotoUrl == null)
            {



                <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">إضافة صورة</button>

                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' name="file-upload" onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h3 class="text-info">صورة المتجر <br /> <span>706 x 160 px</span></h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image"> إزالة <br /> <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>



            }
            else
            {
                <div class="store-image m-3">
                    <img class="file-upload-image" src="@Model.Input.StorePhotoUrl" alt="your image" />
                    <div class="d-flex justify-content-center">
                        <button type="button" class="remove-image change-image"> تغيير الصورة </button>
                    </div>
                </div>

                <div class="file-upload d-none">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">إضافة صورة</button>

                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' name="file-upload" onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h3 class="text-info">صورة المتجر <br /> <span>706 x 160 px</span></h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image"> إزالة <br /> <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>


            }
        </div>
        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.Name" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Name"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <textarea class="form-control text-center" asp-for="Input.Description"></textarea>
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Description"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.Manager" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Manager"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <select class="form-select text-center" asp-for="Input.City">
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.City"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.Adress" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Adress"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.Whatsapp1" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Whatsapp1"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.Whatsapp2" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.Whatsapp2"></label>
            </div>
        </div>


        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.PhoneNumber1" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.PhoneNumber1"></label>
            </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.PhoneNumber2" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.PhoneNumber2"></label>
            </div>
        </div>


        <div class="row form-group d-flex justify-content-center m-3">
            <div class="col-6">
                <input class="form-control text-center" asp-for="Input.LocationUrl" placeholder="إنسخ العنوان من خرائط جوجل" />
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="Input.LocationUrl"></label>
            </div>
        </div>

        <div class="form-group d-flex justify-content-center m-3">
            <button type="button" class="btn btn-danger p-2 me-5 cancel-changing">إلغاء التعديل</button>
            <button class="btn btn-success p-2 ms-5" type="submit">حفظ التغييرات</button>
        </div>
        @Html.AntiForgeryToken();
    </form>

</div>

@section Scripts {
    <script src="@Url.Content("~/js/Account/MyPage/StoreManager/store-info.js")"></script>
}