@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model everest.Areas.Identity.Pages.Account.MyProfile.StoreManager.StoreInfoModel
@{
    ViewData["Title"] = "Store info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{ 
    <link rel="stylesheet" href="@Url.Content("~/css/Account/MyPage/StoreManager/store-info.css")" />
}


<div class="store-info-tamblet position-relative">

    @*Back page link*@
    <a class="back-link" asp-area="Identity" asp-page="/Account/MyProfile/StoreManager/Index" title="إدارة المخزن"><i class="bi bi-arrow-left"></i></a>


    <h1 class="text-center text-info p-3">معلومات المخزن</h1>

    <form class="container" style="direction:rtl;">
        <div class="row form-group d-flex justify-content-center m-3">

            @if (Model.StorePhotoUrl == null)
            {



                <div class="upload-group col-12">
                    <div class="file-upload-container p-3 d-flex justify-content-center" >
                        <div class="file-upload d-flex justify-content-center align-content-center position-relative">
                            <p class="text-center">
                                صورة المتجر <br /><i class="fs-2 bi bi-cloud-upload"></i>
                            </p>
                            <input type="file" name="store-image" />
                        </div>
                    </div>

                    <div class="image-group my-3 d-none">
                        <img class="store-image" src="@Url.Content("~/assets/loading.gif")" alt="صورة المتجر" />
                        <div class="btns-group d-flex justify-content-center">
                            <button type="button" class="btn btn-danger">إزالة الصورة</button>
                        </div>
                    </div>
                </div>



            }
            else
            {
                <div class="upload-group col-10">
                    <div class="file-upload-container p3 d-none">
                        <div class="file-upload d-flex justify-content-center align-content-center position-relative">
                            <p class="text-center">
                                صورة المتجر <br /><i class="fs-2 bi bi-cloud-upload"></i>
                            </p>
                            <input type="file" name="store-image" data-publicid="@Model.PhotoPublicId"/>
                        </div>
                    </div>

                    <div class="image-group my-3">
                        <img class="store-image" src="@Model.StorePhotoUrl" alt="صورة المتجر" />
                        <div class="btns-group d-flex justify-content-center">
                            <button type="button" class="btn btn-danger">إزالة الصورة</button>
                        </div>
                    </div>
                </div>


            }
        </div>
        <div class="row form-group d-flex justify-content-center m-3">
                <label class="form-label col-md-2 col-10" asp-for="Input.Name"></label>
                <div class="col-md-6 col-10 d-flex justify-content-center">
                    <input class="form-control text-center" asp-for="Input.Name" />
                </div>
        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.Description"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <textarea class="form-control text-center" asp-for="Input.Description"></textarea>
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.Manager"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.Manager" />
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-labe col-md-2 col-10" asp-for="Input.City"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <select class="form-select text-center" asp-for="Input.City">
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.Adress"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.Adress" />
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.Whatsapp1"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center col-6" asp-for="Input.Whatsapp1" />
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.Whatsapp2"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.Whatsapp2" />
            </div>

        </div>


        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.PhoneNumber1"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.PhoneNumber1" />
            </div>

        </div>

        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.PhoneNumber2"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.PhoneNumber2" />
            </div>

        </div>


        <div class="row form-group d-flex justify-content-center m-3">
            <label class="form-label col-md-2 col-10" asp-for="Input.LocationUrl"></label>
            <div class="col-md-6 col-10 d-flex justify-content-center">
                <input class="form-control text-center" asp-for="Input.LocationUrl" placeholder="إنسخ العنوان من خرائط جوجل" />
            </div>

        </div>

        <div class="row form-group d-flex justify-content-evenly mt-4">
            <button class="btn btn-success submit-btn p-2 m-2 col-md-2 col-10" type="submit">
                <span class="spinner-border spinner-border-sm d-none"></span>
                <span class="btn-content">حفظ التغييرات</span>
            </button>
            <button type="button" class="btn btn-danger p-2 m-2 cancel-changing col-md-2 col-10">
                <span class="spinner-border spinner-border-sm d-none"></span>
                <span class="btn-content">إلغاء التغييرات</span>
            </button>
        </div>
        @Html.AntiForgeryToken();
    </form>

</div>

@section Scripts {
    <script src="@Url.Content("~/js/Account/MyPage/StoreManager/store-info.js")"></script>
}